@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --blue-75: #0077B6;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-blue-75{
    background: var(--blue-75);
}

.not-auth{
    display: none;
}

.not-auth.active{
    display: block;
}

.user-info{
    display: none;
}

.user-info.active{
    display: block;
}